[Unit]
Description=Puara Serial Manager

[Service]
WorkingDirectory=/home/pi/puara-serial-manager
ExecStart=python3 puara_serial_manager.py "2tree" "mappings" "192.168.90.1"

[Install]
WantedBy=multi-user.target
