[Unit]
Description=Puara Serial Manager

[Service]
WorkingDirectory=/home/mpu/puara-serial-manager
ExecStart=python3 -u puara_serial_manager.py "MPU42" "mappings" "192.168.5.1"

[Install]
WantedBy=multi-user.target
